* {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border: 1px solid grey;
}
.liInfo {
    list-style-type: square;
    margin-left: 25px;
    padding-left: 10px;
}

.tableHead {
    border-bottom: 1px solid darkgray;
}
.tableBottom {
    border: 1px solid darkgray;
}
.topLogo {
    margin-left: 10px;
}
.form-label {
    margin-right: 10px;
}
.form-check-label {
    margin-left: 10px;
}

.labelColor {
    color:palegreen;
}

.link {
    color: palegreen;
    text-decoration: none;
}
.closer {
    margin-bottom: 0;
}
.navUl {
    width: 100%;
}


.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.myImg:hover {
    opacity: 0.7;
}

.nav-link:hover {
    background-color:grey;
}

.spaceHolder {
    height: 15rem;
    visibility: hidden;
}
.prodImg:hover {
    transform:scale(3)
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

#body1  {
    background-image: url('/images/Slide6.jpg');
    background-size:cover;
        -webkit-animation: slidein 70s;
        animation: slidein 70s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:2700px; }
to {background-position: -100px 0px;background-size:1400px;}
}

@keyframes slidein {
from {background-position: top;background-size:2700px; }
to {background-position: -100px 0px;background-size:1400px;}

}

#body2  {
    background-image: url('/images/Slide7.jpg');
    background-size:cover;
}



